header form{
	position:absolute;
	right:0;
	top:30px;
}
header form input[type="text"]{
	width:161px;
	height:30px;
	background:#fff;
	border:1px solid #ddd;
	border-right:0;
	float:left;
}
header form a{
	width:40px;
	height:32px;
	float:left;
	border:1px solid #ddd;
	border-left:0;
	background:#fff url(../img/icon_ser.jpg)no-repeat;
}
header form input[type="button"]{
	width:80px;
	height:34px;
	background:#fff;
	border:1px solid #ddd;
	margin-left:20px;
}
header form input[type="button"]:hover{
	color:red;
	cursor:pointer;
}


.nav1-wrap{
	float:left;
	width:100%;
	background:#909090;
}
.nav1{
	float:left;
	margin-left:26px;
}
.nav1 >li{
	float:left;
}
.nav1 li a{
	float:left;
	width:100px;
	height:35px;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:35px;
}
.nav1 >li:nth-of-type(1) a{
	background:#fdb2a4;
}
.nav1 li a:hover{
	background:#fdb2a4;
}
.nav2{
	float:right;
}
.nav2 li{
	float:left;
}
.nav2 li a{
	float:left;
	width:100px;
	height:35px;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:35px;
}
.nav2 li a:hover{
	background:#fdb2a4;
}
.zuanshi{
	width:100%;
	height:370px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:35px;
	z-index:1;
	background:#fff;
	display:none;
}
.nav1 li:hover .zuanshi{
	display:block;
}
.zuanshi .zuanshi-left{
	float:left;
	border-right:1px solid #ddd;
	padding:20px 10px 40px 140px;
} 
.zuanshi .zuanshi-left ul{
	float:left;
}
.zuanshi .zuanshi-left ul:nth-of-type(1) li:nth-of-type(1) a{
	float:left;
	font-size:20px;
	margin-top:10px;
}
.zuanshi .zuanshi-left ul:nth-of-type(1) li:nth-of-type(2) a{
	float:left;
	font-size:14px;
	margin-top:-10px;
}
.zuanshi .zuanshi-left ul li a:hover{
	color:#fdb2a4;
	background:0;
}
.zuanshi .zuanshi-left ul li a{
	float:left;
	width:110px;
	height:30px;
	margin-top:5px;
	color:#000;
}
.zuanshi .zuanshi-left ul:nth-of-type(2) {
		margin-top:60px;
}
.zuanshi .zuanshi-right{
	float:left;
}
.zuanshi .zuanshi-right ul{
	float:left;
	width:150px;
	padding:80px 40px ;
}
.zuanshi .zuanshi-right ul li{
	float:left;
}
.zuanshi .zuanshi-right ul li a{
	float:left;
	width:150px;
	height:30px;
	margin-top:5px;
	color:#000;
}
.zuanshi .zuanshi-right ul li a:hover{
	color:#fdb2a4;
	background:0;
}
.zuanshi .zuanshi-right #nav-pic{
	margin:70px 40px;
}
.shop-wrap{
	width:100%;
	background:#fff;
}
